@{
    ViewBag.Title = "Home Page";
}

<section>
    @using (Html.BeginForm("", ""))
    {
        <input type="text" name="firstName" /> <br />
        <input type="text" name="lastName" /> <br />
        <br />
        <input type="submit" value="Click Me" />
    }

    </section>